body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 30px;
}

h1 {
    color: #00ff99;
    font-size: 42px;
    text-shadow: 0 0 15px #00ff99;
}

.box {
    max-width: 400px;
    margin: auto;
    background: #222;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 25px #00ff99;
}

p {
    font-size: 18px;
    margin: 18px 0;
}

#status {
    color: orange;
}

#tick {
    color: cyan;
    font-weight: bold;
}

#even {
    color: lime;
    font-weight: bold;
}

#odd {
    color: orange;
    font-weight: bold;
}

#signal {
    font-size: 24px;
    font-weight: bold;
}

button {
    background: #00cc77;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #00aa66;
}
