body{
    margin:0;
    padding:0;
    background:#111;
    font-family:Arial,sans-serif;
    color:white;
}

.container{
    width:90%;
    max-width:500px;
    margin:40px auto;
    text-align:center;
}

h1{
    color:#00ff99;
    margin-bottom:25px;
}

.card{
    background:#222;
    border-radius:20px;
    padding:25px;
    box-shadow:0 0 20px #00ff99;
}

p{
    font-size:24px;
    margin:20px 0;
}

span{
    font-weight:bold;
}

button{
    margin-top:20px;
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#00cc66;
    color:white;
    font-size:22px;
    cursor:pointer;
}

button:hover{
    background:#00aa55;
}
